CMakeCache.txt
cmake_install.cmake
Makefile
**/cmake_install.cmake
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
*.cmake
*.a
*.so
*.cmake
*.csv
*.db
.vscode/
build/**
**/build/
**/*venv/
**/__pycache__/
_deps/
Testing/
CMakeCache.txt.prev
CMakeLists.txt.user
build-src-Desktop-Debug/
src/CMakeLists.txt.user
src/app/tasktracker
src/tasktracker
test/test_database
test/test_tasks
test/test_tasktracklib

